body{
    font-family:  "Damion", cursive;
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    position: absolute;
    width: 620px;
    height: auto;
   left: 150px;
    top: 20px;
}

.select_area{
    padding-bottom: 20px;
    padding-left: 22px;
    border: solid 2px  rgb(113, 184, 246);
    border-radius: 0.7em;
}
.select_area, #username_input, #start{
    font-size: 20px;
}
#username_input{
    border-radius: 0.3em;
    height: 25px;
}

.level-choice{
    padding-bottom: 30px;

}
label{
    padding-left: 10px;
    padding-right: 50px;
}

#start{
    font-size: 1.2em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
}

#start:hover{
    background-color: rgb(113, 184, 246);
    transition-duration: .3s;
}

#cardsFormat{
    width: 330px;
    height: 450px;
    padding-top: 120px;
    display: flex;
    flex-flow: row-reverse wrap;
    align-content: flex-start;  /* flex container is align-content: stretch. And I don't want gap between lines */
}

#cardsFormat.grid_36 {
    width: 550px;!important
}

.flip-container{
    background-color:transparent;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


.flip-container-active {
    transform: rotateY(180deg);
    user-select: none; /*user can't select the emoji*/
}


.flip-front{
    background-color: darkcyan;
    position: absolute;
    width: 80px;
    height: 80px;
    backface-visibility: hidden;
}

.card{
    width: 80px;
    height: 80px;
    display: flex;
    position: absolute;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    transform: rotateY(180deg);  /* need to rotate the emoji, otherwise when we flip the card will see it 180 deg different.*/
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}





.timer{
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    right: 25%;
    top: 33%;
    font-size: 27px;
    color: rgb(113, 184, 246);
}


footer{
    width: 620px;
    height: auto;
    font-size: 20px;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}

#recordsList{
    border: 2px solid white;
    width: 100%;
    background-color: #eee;
}

th, td{
    border: 2px solid white;
    text-align: center;
}

td{
    color: brown;
}